{% extends "base.html" %} {% block card_title %} File Compression Service {% endblock %} {% block
card_body %}
<div id="progress">
  <p id="indicator">Compressing... (<span id="val">0%</span>)</p>
</div>
{% endblock %} {% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script>
  var ws = new SockJS("{{ config.ws_url }}");
  var client = Stomp.over(ws);

  $("#result").hide();
  var on_connect = function() {
    id = client.subscribe("/queue/{{routing_key}}", function(m) {
      let val = m.body;
      $("#val").html(`${val}%`);

      if (val === "100") {
        $("#indicator").html("Done!");
      }
    });
  };

  var on_error = function() {
    console.log("error");
  };

  // ohmygod why
  client.connect(
    "{{config.username}}",
    "{{config.password}}",
    on_connect,
    on_error,
    "{{ config.vhost }}"
  );
</script>
{% endblock %}
